name: Docker CI/CD Pipeline

on:
  push:
    branches:
      - main
      - dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t coder-hs786/myapp:${{ github.ref_name }} .

      - name: Push Docker Image
        run: docker push coder-hs786/myapp:${{ github.ref_name }}
